html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0;
	padding: 0;
	background: #eee;
	color: #000;
	background-image: url("./img/bg-linear.png");
	background-attachment: fixed;
	font-size: 1em;
	font-family: verdana;
}

#container {
	max-width: 800px;
	margin: 0px auto 0px auto;
	min-height: 100%;
}


/* Modal dialog overlay. TODO: Check cross-browser theming. */
.ui-widget-overlay {
    background: black;
    opacity: 0.5;
}

/* "New Cross" Accordion gets highlighted. */
#new_cross_header.ui-state-default.ui-corner-all,
#new_cross_header.ui-helper-reset.ui-corner-all { 
	background: #e6e6e6 url(./img/ui-bg_glass_highlight.png) 50% 50% repeat-x; 
	color: #444444;
	border: 1px solid #aaaa99; 
}

/* "New Cross" Accordion gets highlighted. */
#new_cross_header.ui-state-hover.ui-corner-all {
	background: #e6e6e6 url(./img/ui-bg_glass_highlight2.png) 50% 50% repeat-x; 
	color: #444444;
	border: 1px solid #999999; 
}

#logo {
	text-align: left;
	padding: 0px 40px 0px 40px;
	margin: 0px 0px 18px 0px;
}

#logo h1 {
	font-family: 'Trebuchet MS', Helvetica; 
	font-size: 1.8em;
	margin: 0px 0px 5px 3px;
	padding: 0px;
}

a img { border: 0px; }
a:link, a:visited { 
	color: #d51; 
	text-decoration: none;
}
a:hover, a:active {
	color: #c00;
	text-decoration: underline;
}

hr {
	border: 0;
	color: #777;
	background-color: #777;
	height: 1px;
}

#main {
	margin: 0px;
	padding: 0px 40px 0px 40px;
	font-size: 0.8em;
}

#todo {
	margin: 0px;
	padding: 0px 40px 0px 40px;
	font-size: 0.7em;
}

h3 {
	margin: 0px 0px 5px 3px;
	font-size: 1.2em;
}

.clear {
	clear: both;
	height: 1px;
	width: 1px;
}

/* Designer Specific */
.designer_img_div {
	float: right;
	margin: 0px 50px 0px 0px;
}
.designer_img_subtitle {
	text-align: center;
}

.designer_other { }

.designer_form_add_allele select { display: inline; }

.designer_form_add_allele form {
	display: inline;
	margin: 0px;
	padding: 0px;
}

/* OVERVIEW MODE */

.overview_main .accordion h3 {
	font-size: 1.2em;
}

.overview_accordion_contents {
	font-size: 1.0em;
	text-align: center;
}

.overview_accordion_contents .tabs {
	font-size: 0.8em;
	text-align: left;
}

.overview_parents {
	max-width: 290px;
	min-width: 150px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	display: inline-block;
	width: 45%
}

.overview_parents_male {
	/*float: left;*/
}

.overview_parents_female {
	/*float: left;*/
}

.overview_form_wrap {
	padding: 0px;
	text-align: center;
}

.overview_form form, .overview_form input {
	display: inline;
}

.overview_cross {
	background-color: #fcc;
	margin: 0px 0px 10px 0px;
	padding: 10px
}

