<div class="designer">
	<h3><a href="#" class="nav_to_overview">main</a> &gt;
		<span class="location">Description</span></h3>
	<br />
	<div class="designer_img_div">
		<div class="designer_img">Image Here</div>
		<p class="designer_img_subtitle">Phenotype Here</p>
	</div>
	<div class="designer_other">
		<form class="designer_form_add_allele" action="#" method="get">
			<strong>Set:</strong>
			<select name="trait" class="trait" disabled="true">
				<option value="none">Trait</option>
			</select>
			<select name="allele" class="allele" disabled="true">
				<option value="none">Allele</option>
			</select>
			<input type="submit" id="designer_form_add_allele_submit" 
					disabled="true" value="Add" />
		</form>
		<div class="designer_history_feed">
			<ul>
				<li>All traits are WT by default.</li>
			</ul>
		</div>
		<form class="designer_form_complete" action="#" method="get">
			<input type="submit" class="designer_form_finish_submit" 
					value="Create" />
		</form>
	</div>
</div>


