
	<!-- Parents Part : OLD -->


	<!-- Parents Part : NEW -->

<div class="overview_parents_new">
	<h3><a href="#">Cross Number</a></h3>
	<div>
	<div class="overview_parents_male">
		<img src="./img/blue-grad.png" width="150" height="125" />
		<span class="links">
			<p class="status">Status Here</p>
			<p class="new_link"><a href="#" class="new_male">Design male</a></p>
			<p class="edit_link"><a href="#" class="edit_male">Edit</a></p>
		</span>
	</div>
	<div class="overview_parents_female">
		<img src="./img/red-grad.png" width="150" height="125" />
		<span class="links">
			<p class="status">Status Here</p>
			<p class="new_link"><a href="#" class="new_female">Design female</a></p>
			<p class="edit_link"><a href="#" class="edit_female">Edit</a></p>
		</span>
	</div>
	<div class="clear"></div>
	<div class="overview_form_wrap">
		<form class="overview_form" action="#" method="get">
			<input type="submit" value="Cross" />
		</form>
	</div>
	</div>
</div>


	<!-- Children -->

<div class="overview_children">
	<h3>Results: F1 Generation</h3>
	Pending...
</div>


