<h3><a href="#">Cross Number</a></h3>
<div>
	<div class="overview_parents_male">
		<img src="./img/blue-grad.png" width="150" height="125" />
		<span class="links">
			<p class="status">${parents.f.getPhenotype().phenotypeString()}</p>
			<!-- TODO: View. -->
			<!--<p class="view_link"><a href="#" class="view_male">View</a></p>-->
		</span>
	</div>
	<div class="overview_parents_female">
		<img src="./img/red-grad.png" width="150" height="125" />
		<span class="links">
			<p class="status">${parents.m.getPhenotype().phenotypeString()}</p>
			<!-- TODO: View. -->
			<!--<p class="view_link"><a href="#" class="view_female">View</a></p>-->
		</span>
	</div>
	<div class="clear"></div>
	<!--<div class="overview_cross">
		<h3>Generation #</h3>
		<div class="overview_children_placeholder"></div>
	</div>-->
</div>
